.en-grey-text{
    opacity: 0.5;
}

.en-blue-text{
    color: #1b91ff;
}

.en-color-white{
    color: #ffffff !important;
    font-weight: bold !important;
}

.en-color-red{
    color: red !important;
}

.keep-it-simple{
    text-transform: none !important;
}
